### Today concepts
1. Doubts clarification
2. yesterday task
3. Dictionary
4. sets

**Top 10 student names who completed yesterday task**
* Satyavani
* Srinivas Rao
* Supriya
* Padmini
* Vyshnavi
* Sravanakalhari
* Harika
* Bhavani
* Anjali
* Prasanth

In [2]:
# find sum of numbers in given list
numbers = ['Padmini',10,True,50,60]
total = 0
for each_number in numbers:
    if type(each_number) == int:
        total += each_number

print(total)

120

### Dictionary

dictionary is a collection of unordered items stored in the form of key and value pair
we have seperate key value pair by using symbol : (colon)
creating dictionary
1. dict()
2. symbol {} curly braces

In [5]:
oxford = dict()
print(type(oxford))

oxford2 = {}
print(type(oxford2))

<class 'dict'>
<class 'dict'>

In [6]:
students = {'CSE501':'Satyavani','CSE502':'Vyshnavi'}

In [7]:
print(students)

{'CSE501': 'Satyavani', 'CSE502': 'Vyshnavi'}

In [8]:
len(students)

2

**we can use for-loop for dictionary**

In [9]:
for each in students:
    print(each)

CSE501
CSE502

In [10]:
for rollnumber in students:
    print(rollnumber)

CSE501
CSE502

**how to print values in dict using keys?**
```
DictVariable[key]
```

In [11]:
students

{'CSE501': 'Satyavani', 'CSE502': 'Vyshnavi'}

In [14]:
students['CSE502']

'Vyshnavi'

In [15]:
students['CSE505']

KeyError: 'CSE505'

**How to print all the values only in dict using for-loop**

In [16]:
for rollnumber in students:
    print(students[rollnumber])

Satyavani
Vyshnavi

In [17]:
students

{'CSE501': 'Satyavani', 'CSE502': 'Vyshnavi'}

**How to add new item into dictionary?**

```
dictVariable[newKey] = value

```

In [18]:
students

{'CSE501': 'Satyavani', 'CSE502': 'Vyshnavi'}

In [19]:
students['CSE03'] = 'Prasanth'

In [20]:
students

{'CSE501': 'Satyavani', 'CSE502': 'Vyshnavi', 'CSE03': 'Prasanth'}

**How to update value for existing key?**
```
dictVariable[key] = newValue
```

In [21]:
students

{'CSE501': 'Satyavani', 'CSE502': 'Vyshnavi', 'CSE03': 'Prasanth'}

In [22]:
students['CSE501'] = 'Harika'

In [23]:
students

{'CSE501': 'Harika', 'CSE502': 'Vyshnavi', 'CSE03': 'Prasanth'}

In [24]:
names = {'cse501':'harika','cse501':'vysnavi'}

print(names)

{'cse501': 'vysnavi'}

**Methods in dictionary**

**clear()**

to remove all the items in dictionary

In [25]:
names

{'cse501': 'vysnavi'}

In [26]:
names.clear()

In [27]:
names

{}

**copy()**

to take another copy from existing

In [28]:
students

{'CSE501': 'Harika', 'CSE502': 'Vyshnavi', 'CSE03': 'Prasanth'}

In [29]:
names = students.copy()
names

{'CSE501': 'Harika', 'CSE502': 'Vyshnavi', 'CSE03': 'Prasanth'}

**fromkeys(collection_of_keys,optional_default_value)**

In [31]:
keys = ['cse501','cse502','cse503']

{}.fromkeys(keys)

{'cse501': None, 'cse502': None, 'cse503': None}

In [32]:
keys = ['cse501','cse502','cse503']

{}.fromkeys(keys,100)

{'cse501': 100, 'cse502': 100, 'cse503': 100}

**get(key,defaultValue)**

to get value for given key

In [33]:
students

{'CSE501': 'Harika', 'CSE502': 'Vyshnavi', 'CSE03': 'Prasanth'}

In [34]:
students.get('CSE03')

'Prasanth'

In [36]:
print(students.get('CSE05'))

None

In [37]:
students

{'CSE501': 'Harika', 'CSE502': 'Vyshnavi', 'CSE03': 'Prasanth'}

In [38]:
print(students.get('CSE05','roll number not found'))

roll number not found

In [39]:
students

{'CSE501': 'Harika', 'CSE502': 'Vyshnavi', 'CSE03': 'Prasanth'}

**keys()**
to get all the keys in dict

In [40]:
students.keys()

dict_keys(['CSE501', 'CSE502', 'CSE03'])

**pop(key)**
to remove the item related to given if available otherwise 
keyError

In [41]:
students

{'CSE501': 'Harika', 'CSE502': 'Vyshnavi', 'CSE03': 'Prasanth'}

In [42]:
students.pop('CSE502')

'Vyshnavi'

In [43]:
students

{'CSE501': 'Harika', 'CSE03': 'Prasanth'}

**while using pop method if key not available**

In [44]:
students.pop('CSE05')

KeyError: 'CSE05'

In [45]:
students.pop()

TypeError: pop expected at least 1 arguments, got 0

**popitem()**


to remove one item in the dictionay

In [46]:
students

{'CSE501': 'Harika', 'CSE03': 'Prasanth'}

In [47]:
students.popitem()

('CSE03', 'Prasanth')

In [48]:
students

{'CSE501': 'Harika'}

**find the frequency of characters in given name?**

In [50]:
name = "Sravanakalhari"
freq = {}

for each in name:
    freq[each] = name.count(each) 

print(freq)

{'S': 1, 'r': 2, 'a': 5, 'v': 1, 'n': 1, 'k': 1, 'l': 1, 'h': 1, 'i': 1}

**another solution**

In [51]:
name = "Sravanakalhari"
freq = {}

for each in name:
    count = 0
    for char in name:
        if char == each:
            count += 1
    freq[each] = count
            
print(freq)

{'S': 1, 'r': 2, 'a': 5, 'v': 1, 'n': 1, 'k': 1, 'l': 1, 'h': 1, 'i': 1}

**values()**

to get all the values from dictionary

In [53]:
students = {'CSE01':'Anjali','CSE02':'BHAVANI',
            'CSE03':'Supriya','CSE04':'SRINIVAS'}

In [54]:
students

{'CSE01': 'Anjali',
 'CSE02': 'BHAVANI',
 'CSE03': 'Supriya',
 'CSE04': 'SRINIVAS'}

In [55]:
students.values()

dict_values(['Anjali', 'BHAVANI', 'Supriya', 'SRINIVAS'])

**items()**


to get all the items

In [56]:
students.items()

dict_items([('CSE01', 'Anjali'), ('CSE02', 'BHAVANI'), ('CSE03', 'Supriya'), ('CSE04', 'SRINIVAS')])

**setdefault(key,optionalValue)**

it can add new item if given key not available

In [58]:
names = {'1':'a','2':'b'}

In [59]:
names.setdefault('1','c')

'a'

In [60]:
names

{'1': 'a', '2': 'b'}

In [61]:
names.setdefault('5','d')

'd'

In [62]:
names

{'1': 'a', '2': 'b', '5': 'd'}

**update(newdict)**

In [64]:
oxfordDict = {'home':'house','mobile':'contact number'}

In [65]:
newUpdate = {'mobile':'phone number','adhar':'indian identity'}

In [66]:
oxfordDict.update(newUpdate)

In [67]:
oxfordDict

{'home': 'house', 'mobile': 'phone number', 'adhar': 'indian identity'}

**sets**


set is collection of unique items without any order

1. set()
2. symbol {} curly braces

In [68]:
set1 = set()
set2 = {1,2,3}

print(type(set1))
print(type(set2))

<class 'set'>
<class 'set'>

In [70]:
rollnumbers = {'cse1','cse2','cse3','cse1'}
print(rollnumbers)

{'cse1', 'cse3', 'cse2'}

**methods in sets**

**add(item)**

In [71]:
rollnumbers

{'cse1', 'cse2', 'cse3'}

In [72]:
rollnumbers.add('cse4')
rollnumbers

{'cse1', 'cse2', 'cse3', 'cse4'}

**remove()**

In [73]:
rollnumbers

{'cse1', 'cse2', 'cse3', 'cse4'}

In [74]:
rollnumbers.remove('cse4')
rollnumbers

{'cse1', 'cse2', 'cse3'}

In [75]:
rollnumbers.remove('cse4')
rollnumbers

KeyError: 'cse4'

**discard(item)**

In [77]:
rollnumbers

{'cse1', 'cse2', 'cse3'}

In [78]:
rollnumbers.discard('cse3')
rollnumbers

{'cse1', 'cse2'}

In [79]:
rollnumbers.discard('cse3')
rollnumbers

{'cse1', 'cse2'}

**clear()**

In [80]:
rollnumbers.clear()

In [81]:
rollnumbers

set()

**copy()**

In [82]:
rollnumbers = {'cse1','cse2','cse3'}

In [83]:
rollnumbersCopy = rollnumbers.copy()

In [84]:
rollnumbersCopy

{'cse1', 'cse2', 'cse3'}

**intersection()**

In [85]:
s1 = {1,2,3,4}
s2 = {4,5,6}
print(s1.intersection(s2))

{4}

**union()**

In [92]:
s1 = {1,2,3,4}
s2 = {4,5,6,7}
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7}

**intersection_update()**

In [93]:
s1

{1, 2, 3, 4}

In [94]:
s2

{4, 5, 6, 7}

In [95]:
s1.intersection(s2)

{4}

In [96]:
s1.intersection_update(s2)

In [97]:
s1

{4}

In [98]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7}

In [99]:
s1.symmetric_difference(s2)

{1, 2, 3, 6, 7}

In [100]:
s1

{1, 2, 3, 4, 5}

In [101]:
s2

{4, 5, 6, 7}

In [102]:
s1.symmetric_difference_update(s2)

In [103]:
s1

{1, 2, 3, 6, 7}

**find the common characters between two persons**

In [104]:
person1 = 'Anjali'
person2 = "Supriya"

In [105]:
s1 = set(person1)
print(s1)

{'a', 'l', 'A', 'i', 'j', 'n'}

In [107]:
s2 = set(person2)
s2

{'S', 'a', 'i', 'p', 'r', 'u', 'y'}

In [108]:
s1.intersection(s2)

{'a', 'i'}

### important functions in python

**map(functionName,collection)**

**convert all the numbers into integer type**

In [113]:
numbers = ['10','20','30','40']
updated = []
for item in numbers:
    updated.append(int(item))
print(updated)

[10, 20, 30, 40]

In [117]:
numbers= ['10','20','30','40']

outputaddress = map(int,numbers)

print(list(outputaddress))

[10, 20, 30, 40]

**@gmail.com at endof each person name**


['ram@gmail.com','lakshmi@gmail.com','raju@gmail']

In [118]:
def myfun(name):
    return name + '@gmail.com'

In [119]:
myfun('ayyappa')

'ayyappa@gmail.com'

In [120]:
myfun('sai')

'sai@gmail.com'

In [121]:
names = ['ram','lakshmi','raju']

address = map(myfun,names)

print(list(address))

['ram@gmail.com', 'lakshmi@gmail.com', 'raju@gmail.com']

**filter(function,collection)**

**filter names who has character 'r' at starting**

In [123]:
def startswith(name):
    return name.startswith('r')

In [125]:
names = ['ram','lakshmi','raju']


address = filter( startswith ,names)

print(list(address))

['ram', 'raju']

**filter the students who got more than 80% in total marks**


Note:
    every subject carry 100 marks

In [131]:
students = [  ['ram',50,70,60],['lakshmi',10,20,30],
           ['raju',81,85,90]]


#output [['raju',81,85,90]]