**Digits count**
```
10) 6789 (678    
    6780
    -----
      9
    ----
n=678
10 ) 678 (67
     670
     ---
     8
     ---
n= 67
n=6
n<0

In [2]:
n=int(input("enter a number"))
c=0
while n>0:
    n=n//10
    c+=1
print(c)

enter a number6570
4

In [ ]:
# jumping statements
- continue
- break
- pass
- return

- break
     - break statement in python is used to terminate the loop

In [5]:
for i in range(0,11):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [ ]:
- continue
    - continue statement used to like a skip

In [8]:

for i in range(1,11):
    if i==6 or i==7:
        continue
    print(i)

1
2
3
4
5
8
9
10

In [ ]:
- pass
 - empty method purpose

In [12]:
def a():
    pass

In [17]:
for i in range(1,10):
    pass # when you create a method that you don't want to implement yet
    #print()

```
1  2  3  4  5  6  7
8  9  10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31 

```

In [29]:
c=1
for i in range(1,6):
    for j in range(1,8):
        if c>31:
            break
        else:
            print('{:02}'.format(c),end=" ")
            c+=1
    print()

01 02 03 04 05 06 07
08 09 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [35]:
"2"+2

TypeError: can only concatenate str (not "int") to str

In [44]:
print("2"+2)

TypeError: can only concatenate str (not "int") to str

In [47]:
a=9
b="9"
print("{} some data {}".format(a,b))

9 some data 9

**Functions**
- Function are most important aspect of an application
**Advantages**
- reduce the code
- reusablity
- easy debugging

In [ ]:
- inbuilt function
- userdefined functions

# Inbuilt function
- inbuilt functions are defined as the function whose functionatality is pre-defined in python

- print()
- input()
- int()
- float()
- str()
- sum()
- len()
- max()
- min()
- abs()
- pow()
- bin()
- hex()
- oct()
- ord()
- chr()

In [50]:
a=10
b=30
#c=40
sum((a,b))

40

In [51]:
a = "Raviksihore"
max(a)

'v'

In [56]:
ord("R")

82

In [57]:
min(a)

'R'

In [59]:
chr(97)

'a'

In [60]:
abs(-8)

8

In [62]:
pow(6,3)

216

In [63]:
bin(10)

'0b1010'

In [64]:
hex(15)

'0xf'

In [65]:
oct(9)

'0o11'

```
def fun(a,b): # Formal arguments
    statements
    return
fun(1,2) # actual arguments
            (positional,default,keyword,variable length)

In [78]:
# user defined function

def add():
    c=4+6
    return c
add()

10

In [82]:
# positional arguments or required arguments
def add(marks,names):
    print(marks,names)
add("Ayyapa sir",5)

Ayyapa sir 5

In [88]:
# keyword arguments
def student(name,marks):
    print(name)
    print(marks+10)

In [89]:
student(marks=70,name="surya sir")

surya sir
80

In [133]:
# default arguments
def default(a,b="ravikishore"):
    return a,b
default(2,7)

(2, 7)

In [135]:
# variable_length argument
def variable_LENGTH(*a):
    #print(b)
    print(a)
variable_LENGTH(1,8,7,6,5)

(1, 8, 7, 6, 5)

In [125]:
def var1(*a):
    return sum(a)
var1(1,2,3,4,56,)

66

**keyword_length argument**

In [131]:
def person(name,**kwlen):
    print(name)
    print(kwlen)
person(name="ravikishore",age=25,place="srikakulam",ph=989898989)

ravikishore
{'age': 25, 'place': 'srikakulam', 'ph': 989898989}