### Today Topics
1. Revision and doubts clarification
2. Yesterday task 
3. Python Data Structures[List,Tuple,Dictionary]
4. List

In [2]:
# find the index of character 'p'
name = "python programming"
for i in range (0,len(name)):
    if(name[i]=='p'):
        print('charcter p avaiable at index ',i)

charcter p avaiable at index  0
charcter p avaiable at index  7

**find the lucky number , it should be below 10**

mobile = "1234" # 1 + 2+ 3+4 = 10 ==> 1+0 => 1




luckyNumber = 1

1. Supriya
2. Padmini
3. SRINIVAS RAO
4. SRAVANAKALHARI
5. SATYA VANI

In [6]:
mobile = str(1234)
sum = 0
for i in mobile:
    sum += int(i)
    print('type',type(sum))
    res =int(sum[3])
    print(res)

type <class 'int'>

TypeError: 'int' object is not subscriptable

In [7]:
name = "python"

In [8]:
print(name[0])

p

In [9]:
name = 123

In [10]:
len(name)

TypeError: object of type 'int' has no len()

In [12]:
number= 123
number[0]

TypeError: 'int' object is not subscriptable

In [13]:
def issum(m1):
    sum=0
    while m1!=0:
        rem=m1%10
        sum=sum+rem
        m1=m1//10
    if sum>=10:
        issum(sum)
    else:    
        print("Lucky number =" ,sum)    
mobile=input("Enter a number more than 1000 :")
m1=int(mobile)


issum(m1)

Enter a number more than 1000 :12345
Lucky number = 6

In [18]:
number = "1234"
# logic
total = 0
for each in number:
    total += int(each)

    
print(total)

10

**Solution for lucky number task**

number = '123456'

In [36]:
def luckyNumber(number):
    number = str(number)
    print('number ',number)
    total = 0
    for each in number:
        total += int(each)
    if total > 9:
        return luckyNumber(total)
    
    return total

In [37]:
luckyNumber('12345')

number  12345
number  15

6

### List

list is a group of or collection of items or python valid items or objects

we can create list with different ways
1. default function
    list()
2. by using symbol
    []  square brckets

In [38]:
marks = list()

**How to check type of variable**

In [39]:
print(type(marks))

<class 'list'>

**How many items in marks?**

In [40]:
print(len(marks))

0

In [52]:
names = [
    "Supriya", "Padmini","SRINIVAS RAO",
    "SRAVANAKALHARI","SATYA VANI"
]

In [42]:
print(len(names))

5

**List indexing**

```
forward      0    len(items)-1 
reverse     -len()              -1
```

In [43]:
names

['Supriya', 'Padmini', 'SRINIVAS RAO', 'SRAVANAKALHARI', 'SATYA VANI']

In [44]:
print(names[1])

Padmini

In [45]:
print(names[-3])

SRINIVAS RAO

In [46]:
names

['Supriya', 'Padmini', 'SRINIVAS RAO', 'SRAVANAKALHARI', 'SATYA VANI']

In [47]:
bio_data = ['Supriya','CSE',90,True]

In [48]:
bio_data

['Supriya', 'CSE', 90, True]

In [53]:
names

['Supriya', 'Padmini', 'SRINIVAS RAO', 'SRAVANAKALHARI', 'SATYA VANI']

**List slicing**

In [54]:
names[1:]

['Padmini', 'SRINIVAS RAO', 'SRAVANAKALHARI', 'SATYA VANI']

In [55]:
names[1:4]

['Padmini', 'SRINIVAS RAO', 'SRAVANAKALHARI']

In [57]:
names

['Supriya', 'Padmini', 'SRINIVAS RAO', 'SRAVANAKALHARI', 'SATYA VANI']

In [56]:
names[::2]

['Supriya', 'SRINIVAS RAO', 'SATYA VANI']

### Methods in list

Note:
    List is mutable
    
    mutable means we can modify or change

In [58]:
names

['Supriya', 'Padmini', 'SRINIVAS RAO', 'SRAVANAKALHARI', 'SATYA VANI']

**How to add new item into list**

listVar.append(newItem)
   it appends the given new item into existing list at the ending

In [59]:
names

['Supriya', 'Padmini', 'SRINIVAS RAO', 'SRAVANAKALHARI', 'SATYA VANI']

In [60]:
names.append('Raju')

In [61]:
print(names)

['Supriya', 'Padmini', 'SRINIVAS RAO', 'SRAVANAKALHARI', 'SATYA VANI', 'Raju']

In [62]:
names.append()

TypeError: append() takes exactly one argument (0 given)

In [63]:
raju_marks = [100,20,40]
ramu_marks = raju_marks

In [64]:
print(raju_marks)
print(ramu_marks)

[100, 20, 40]
[100, 20, 40]

In [65]:
ramu_marks.append(1000)
print(ramu_marks)

[100, 20, 40, 1000]

In [66]:
print(raju_marks)

[100, 20, 40, 1000]

**copy()**

In [71]:
raju_marks = [10,20,30]
ramu_marks = raju_marks.copy()

In [72]:
ramu_marks.append(1000)
print(ramu_marks)
print(raju_marks)

[10, 20, 30, 1000]
[10, 20, 30]

**extend(collection_or_group_of_items)**

In [73]:
oxford_dict = ['home','people','birds']
newWord = ['adhar','Digital privacy']

In [74]:
oxford_dict.extend(newWord)
print(oxford_dict)

['home', 'people', 'birds', 'adhar', 'Digital privacy']

In [76]:
oxford_dict = ['home','people','birds']
newWord = ['adhar','Digital privacy'] 
oxford_dict.append(newWord)
print(oxford_dict)

['home', 'people', 'birds', ['adhar', 'Digital privacy']]

In [77]:
print(len(oxford_dict))

4

**print only adhar item from oxford dict**

In [82]:
oxford_dict[3][0]

'adhar'

**count(item)**

In [83]:
names

['Supriya', 'Padmini', 'SRINIVAS RAO', 'SRAVANAKALHARI', 'SATYA VANI', 'Raju']

In [84]:
names.count('Padmini')

1

In [85]:
numbers = [1,2,3,4,1,2,4,1]
numbers.count(1)

3

**How to find index of given item**

index(item)

In [86]:
names

['Supriya', 'Padmini', 'SRINIVAS RAO', 'SRAVANAKALHARI', 'SATYA VANI', 'Raju']

In [87]:
names.index('SRINIVAS RAO')

2

In [88]:
numbers

[1, 2, 3, 4, 1, 2, 4, 1]

In [89]:
numbers.index(4)

3

In [90]:
numbers.index(1)

0

index(item,index_of_search_starting)

In [91]:
numbers

[1, 2, 3, 4, 1, 2, 4, 1]

In [93]:
numbers.index(1,3)

4

**insert(index,item)**

In [94]:
numbers = [1,2,3,4,5]
numbers.insert(2,6)
print(numbers)

[1, 2, 6, 3, 4, 5]

**updating the item**

In [96]:

numbers

[1, 2, 6, 3, 4, 5]

In [97]:
numbers[2] = 16
print(numbers)

[1, 2, 16, 3, 4, 5]

In [98]:
numbers = [1,2,3]
numbers.insert(100,1000)
print(numbers)

[1, 2, 3, 1000]

**to remove the item at particular index**
**pop(index)**

In [99]:
numbers = [1,2,3,4,5,1,2,4,5]

print(numbers.pop(5))


print(numbers)

1
[1, 2, 3, 4, 5, 2, 4, 5]

In [102]:
numbers = [1, 2, 3, 4, 5, 2, 4, 5]
print(numbers.pop())
print(numbers)

5
[1, 2, 3, 4, 5, 2, 4]

In [103]:
numbers = []
print(numbers.pop())
print(numbers)

IndexError: pop from empty list

**remove(item)**


remove the given item

In [104]:
numbers = [1,2,3,4]
numbers.remove(4)
print(numbers)

[1, 2, 3]

In [105]:
numbers = [1,2,3,4]
numbers.remove(100)
print(numbers)

ValueError: list.remove(x): x not in list

In [106]:
numbers = [1,2,3,1,1,1]
numbers.remove(1)
print(numbers)

[2, 3, 1, 1, 1]

**reverse()**

In [107]:
numbers = [10,20,15,65]

numbers.reverse()

print(numbers)

[65, 15, 20, 10]

**sort()**

to order the items

In [108]:
numbers = [10,20,15,65]

numbers.sort()
print(numbers)

[10, 15, 20, 65]

In [110]:
numbers = [10,20,15,65]

numbers.sort()
numbers.reverse()
print(numbers)

[65, 20, 15, 10]

In [111]:
numbers = [10,20,15,65]

numbers.sort(reverse=True)


print(numbers)

[65, 20, 15, 10]

In [112]:
names

['Supriya', 'Padmini', 'SRINIVAS RAO', 'SRAVANAKALHARI', 'SATYA VANI', 'Raju']

In [113]:
names.sort()
print(names)

['Padmini', 'Raju', 'SATYA VANI', 'SRAVANAKALHARI', 'SRINIVAS RAO', 'Supriya']

**Global functions for collection of items**

In [114]:
len(names)

6

**max()**

In [115]:
numbers = [10,20,40,50]
print(max(numbers))

50

**min()**

In [116]:
numbers = [10,20,40,50]
print(min(numbers))

10

**sum()**

In [1]:
numbers = [10,20,40,50]
print(sum(numbers))

120

**find the sum of numbers in given list**

In [3]:
numbers = ['Padmini',10,True,50,60]
# implement logic

#  10 + 50 + 60 => 120

## tuple

collection of items but it is immutable

1. tuple()
2. symbol () parenthesis

In [4]:
myTuple = tuple()
print(type(myTuple))

<class 'tuple'>

In [5]:
myTuple2 = (1,2,3,4,5)

print(type(myTuple2))

<class 'tuple'>

In [6]:
myTuple2[2] = 10

TypeError: 'tuple' object does not support item assignment

**tuple indexing**

In [7]:
myTuple2

(1, 2, 3, 4, 5)

In [8]:
myTuple2[2]

3

**Tuple slicing**

In [9]:
myTuple2[2:]

(3, 4, 5)

**methods in tuple**

**count(item)**

In [11]:
t = (1,2,3,1,2,3)
print(t.count(3))

2

**index(item)**

In [12]:
t = (1,2,3,4,5,1)
print(t.index(3))

2

In [13]:
sum(t)

16

In [14]:
max(t)

5

In [15]:
t

(1, 2, 3, 4, 5, 1)

In [16]:
t[0]

1